In [1]:
import pandas as pd
import numpy as np
import json
import ast
import os
from datetime import datetime, timedelta

In [2]:
def return_df():
    # current_file_path = "/home/reeya/consumed_data"
    # date = datetime.today().strftime('%Y-%m-%d')
    # file_name = date + str(".json")
    # file_path = os.path.join(current_file_path, file_name)

    file_path = "/home/reeya/consumed_data/2022-05-10.json"

    with open(file_path, 'r') as f:
        data = json.load(f)

    print("Data Loaded..")

        # print(data[0])
    for i in range(len(data)):
        data[i] = ast.literal_eval(data[i])

    print("Data Transformed..")

    df = pd.read_json(json.dumps(data, indent=15))
    # print(df.head(10))
    print("Returning Data")
    return df

In [3]:
df = return_df()
if not (df.empty):
    print("Data Received..")
else:
    print("No data received")

breadcrumb_df = df[['ACT_TIME','GPS_LATITUDE','GPS_LONGITUDE','DIRECTION','VELOCITY','EVENT_NO_TRIP']]
trip_df = df[['EVENT_NO_TRIP','VEHICLE_ID']]

Data Loaded..
Data Transformed..
Returning Data
Data Received..

In [5]:
print(breadcrumb_df.head(10))

   ACT_TIME GPS_LATITUDE GPS_LONGITUDE DIRECTION VELOCITY  EVENT_NO_TRIP
0     20380     45.63645    -122.60488       168        4      170333377
1     20385    45.636368   -122.604573       111        5      170333377
2     20390    45.636422   -122.603953        83       10      170333377
3     20395     45.63642   -122.603202        90       11      170333377
4     20400    45.636462   -122.602408        86       12      170333377
5     20405    45.636497   -122.601595        86       12      170333377
6     20410    45.636542   -122.600828        85       11      170333377
7     20415    45.636597   -122.600387        80        5      170333377
8     20418      45.6366   -122.600358        80        0      170333377
9     20420      45.6366   -122.600358         0        0      170333377

In [6]:
print(df.shape)

(369462, 14)

In [7]:
print((df.iloc[:2]))

   EVENT_NO_TRIP  EVENT_NO_STOP   OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      170333377      170333382  14-OCT-20        1776     377     20380
1      170333377      170333382  14-OCT-20        1776     406     20385

  VELOCITY DIRECTION RADIO_QUALITY GPS_LONGITUDE GPS_LATITUDE GPS_SATELLITES  \
0        4       168                  -122.60488     45.63645              9
1        5       111                 -122.604573    45.636368              9

  GPS_HDOP SCHEDULE_DEVIATION
0      0.9
1      1.3

In [8]:
print(type(df['ACT_TIME'][0]))

<class 'numpy.int64'>

In [9]:
time_in_seconds = df['ACT_TIME'][0]

In [10]:
print(type(str(timedelta(seconds=float(time_in_seconds)))))

<class 'str'>

In [11]:
print((df['OPD_DATE'][0]))

14-OCT-20

In [12]:
print(df['ACT_TIME'].head(10))

0    20380
1    20385
2    20390
3    20395
4    20400
5    20405
6    20410
7    20415
8    20418
9    20420
Name: ACT_TIME, dtype: int64

In [13]:
def date_to_timestamp(date):
    date_timestamp = datetime.strptime(date,"%d-%b-%y %H:%M:%S")
    return date_timestamp

In [4]:
def date_to_timestamp(date):
    date_timestamp = datetime.strptime(date,"%d-%b-%y")
    return date_timestamp

In [5]:
date_df = pd.DataFrame(columns=['tstamp'])
date_df['tstamp'] = df['OPD_DATE'].apply(date_to_timestamp)

In [6]:
print(date_df.head(10))

      tstamp
0 2020-10-13
1 2020-10-13
2 2020-10-13
3 2020-10-13
4 2020-10-13
5 2020-10-13
6 2020-10-13
7 2020-10-13
8 2020-10-13
9 2020-10-13

In [7]:
def seconds_to_timestamp(time_in_seconds):

    return timedelta(seconds=float(time_in_seconds))

In [8]:
time_df = pd.DataFrame(columns=['ACT_TIME'])
time_df['ACT_TIME'] = df['ACT_TIME'].apply(seconds_to_timestamp)

In [9]:
tstamp_df = pd.DataFrame(columns=['tstamp'])
tstamp_df['tstamp'] = date_df['tstamp']+time_df['ACT_TIME']

In [10]:
print(tstamp_df.head(10))

               tstamp
0 2020-10-13 15:53:32
1 2020-10-13 15:53:37
2 2020-10-13 15:53:42
3 2020-10-13 15:53:47
4 2020-10-13 15:53:52
5 2020-10-13 15:53:57
6 2020-10-13 15:54:02
7 2020-10-13 15:54:07
8 2020-10-13 15:54:12
9 2020-10-13 15:54:13

In [11]:
def evaluate_service_key(time_stamp):
    day_of_week = time_stamp.weekday()
    
    if(day_of_week<5):
        return "Weekday"
    elif (day_of_week==5):
        return "Saturday"
    else:
        return "Sunday"

In [12]:
df_service_key = pd.DataFrame(columns=['SERVICE_KEY'])

In [13]:
df_service_key['SERVICE_KEY'] = tstamp_df['tstamp'].apply(evaluate_service_key)

In [14]:
print(df_service_key['SERVICE_KEY'].head(10))

0    Weekday
1    Weekday
2    Weekday
3    Weekday
4    Weekday
5    Weekday
6    Weekday
7    Weekday
8    Weekday
9    Weekday
Name: SERVICE_KEY, dtype: object

In [15]:
breadcrumb_df = pd.DataFrame(columns=['tstamp','latitude','longitude','direction','speed','trip_id'])

In [26]:
print(df.head(3))

   EVENT_NO_TRIP  EVENT_NO_STOP   OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0      170333377      170333382  14-OCT-20        1776     377     20380
1      170333377      170333382  14-OCT-20        1776     406     20385
2      170333377      170333382  14-OCT-20        1776     457     20390

  VELOCITY DIRECTION RADIO_QUALITY GPS_LONGITUDE GPS_LATITUDE GPS_SATELLITES  \
0        4       168                  -122.60488     45.63645              9
1        5       111                 -122.604573    45.636368              9
2       10        83                 -122.603953    45.636422              9

  GPS_HDOP SCHEDULE_DEVIATION
0      0.9
1      1.3
2      0.9

In [16]:
breadcrumb_df['tstamp'] = tstamp_df['tstamp']

In [28]:
print(breadcrumb_df.head(3))

               tstamp latitude longitude direction speed trip_id
0 2020-10-14 05:39:40      NaN       NaN       NaN   NaN     NaN
1 2020-10-14 05:39:45      NaN       NaN       NaN   NaN     NaN
2 2020-10-14 05:39:50      NaN       NaN       NaN   NaN     NaN

In [17]:
breadcrumb_df[['latitude','longitude','direction','speed','trip_id']] = df[['GPS_LATITUDE','GPS_LONGITUDE','DIRECTION','VELOCITY','EVENT_NO_TRIP']]

In [30]:
print(breadcrumb_df.head(3))

               tstamp   latitude    longitude direction speed    trip_id
0 2020-10-14 05:39:40   45.63645   -122.60488       168     4  170333377
1 2020-10-14 05:39:45  45.636368  -122.604573       111     5  170333377
2 2020-10-14 05:39:50  45.636422  -122.603953        83    10  170333377

In [18]:
def create_trip_df(df, service_key_df):
    df['SERVICE_KEY'] = service_key_df['SERVICE_KEY']
    trip_df = pd.DataFrame(columns=['trip_id','route_id','vehicle_id','service_key','direction'])
    trip_id_lookup = list()
    for index,row in df.iterrows():
        if row['EVENT_NO_TRIP'] in trip_id_lookup:
            continue
        else:
            new_row = {'trip_id':row['EVENT_NO_TRIP'],'route_id':np.nan,'vehicle_id':row['VEHICLE_ID'],'service_key':row['SERVICE_KEY'],'direction':np.nan}
            trip_df = trip_df.append(new_row, ignore_index=True)
            trip_id_lookup.append(row['EVENT_NO_TRIP'])
        # print(row['EVENT_NO_TRIP'])
    return trip_df

In [19]:
trip_df = create_trip_df(df=df, service_key_df=df_service_key)

In [20]:
print(trip_df.head(10))

     trip_id route_id vehicle_id service_key direction
0  170237788      NaN       1776     Weekday       NaN
1  170237804      NaN       1776     Weekday       NaN
2  170237816      NaN       1776     Weekday       NaN
3  170237829      NaN       1776     Weekday       NaN
4  170237858      NaN       2215     Weekday       NaN
5  170237870      NaN       2215     Weekday       NaN
6  170237875      NaN       2215     Weekday       NaN
7  170237888      NaN       2215     Weekday       NaN
8  170237895      NaN       2215     Weekday       NaN
9  170237901      NaN       2215     Weekday       NaN

In [34]:
import psycopg2

DB_Name = "ctran_db"
DB_User = "reeya"
DB_Password = "reeya"
Create_DB = False
TableName = "TestTable"
def db_connect():
    connection = psycopg2.connect(
        host = "localhost",
        database = DB_Name,
        user = DB_User,
        password = DB_Password,
    )
    connection.autocommit = True
    return connection

In [35]:
conn = db_connect()

In [37]:
import psycopg2.extras as extras

def execute_batch(conn, df, table, page_size=100):
    """
    Using psycopg2.extras.execute_batch() to insert the dataframe
    """
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL quert to execute
    query  = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s)" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_batch(cursor, query, tuples, page_size)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_batch() done")
    cursor.close()

In [21]:
trip_df = trip_df.drop(['route_id', 'direction'], axis=1)

In [51]:
print(trip_df.head(10))

     trip_id vehicle_id service_key
0  170333377       1776     Weekday
1  170333389       1776     Weekday
2  170333404       1776     Weekday
3  170333412       1776     Weekday
4  170333435       1776     Weekday
5  170333450       1776     Weekday
6  170333484       2215     Weekday
7  170333504       2215     Weekday
8  170333515       2215     Weekday
9  170333567       2218     Weekday

In [52]:
import psycopg2.extras as extras

def execute_batch(conn, df, table, page_size=100):
    """
    Using psycopg2.extras.execute_batch() to insert the dataframe
    """
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL quert to execute
    query  = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s)" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_batch(cursor, query, tuples, page_size)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_batch() done")
    cursor.close()

In [57]:
execute_batch(conn=conn,df=trip_df,table='testtable',page_size=100)

execute_batch() done

In [54]:
def execute_batch_breadcrumb(conn, df, table, page_size=100):
    """
    Using psycopg2.extras.execute_batch() to insert the dataframe
    """
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL quert to execute
    query  = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s,%%s)" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_batch(cursor, query, tuples, page_size)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_batch() done")
    cursor.close()

In [59]:
execute_batch_breadcrumb(conn=conn,df=breadcrumb_df,table='testbreadcrumb',page_size=100)

Error: invalid input syntax for integer: ""
LINE 1: ...14T05:55:26'::timestamp,'45.594935','-122.506015','','',1703...
                                                             ^

1

In [68]:
print(breadcrumb_df.iloc[150:170])

                 tstamp   latitude    longitude direction speed    trip_id
150 2020-10-14 05:52:51   45.59448  -122.505618       312     2  170333377
151 2020-10-14 05:52:55  45.594498  -122.505648       311     0  170333377
152 2020-10-14 05:52:56    45.5945   -122.50565       325     0  170333377
153 2020-10-14 05:55:26  45.594935  -122.506015                  170333389
154 2020-10-14 05:55:31  45.594817   -122.50576       124     4  170333389
155 2020-10-14 05:55:36  45.594687   -122.50549       125     5  170333389
156 2020-10-14 05:55:41  45.594572  -122.505228       122     4  170333389
157 2020-10-14 05:55:46  45.594465  -122.504972       121     4  170333389
158 2020-10-14 05:55:51  45.594337  -122.504687       123     5  170333389
159 2020-10-14 05:55:56    45.5942  -122.504307       117     6  170333389
160 2020-10-14 05:56:01  45.594167   -122.50414       106     2  170333389
161 2020-10-14 05:56:06  45.593915  -122.504065       168     5  170333389
162 2020-10-14 05:56:11  45.593423  -122.504068       180    11  170333389
163 2020-10-14 05:56:16  45.592925  -122.504228       193    11  170333389
164 2020-10-14 05:56:21  45.592582  -122.504832       231    12  170333389
165 2020-10-14 05:56:26  45.592602  -122.505693       272    13  170333389
166 2020-10-14 05:56:31  45.592817  -122.506627       288    15  170333389
167 2020-10-14 05:56:36  45.593053  -122.507707       287    17  170333389
168 2020-10-14 05:56:41  45.593333  -122.508937       288    20  170333389
169 2020-10-14 05:56:46  45.593673  -122.510285       290    22  170333389

In [71]:
breadcrumb_df['direction'] = breadcrumb_df['direction'].fillna(0)

In [79]:
breadcrumb_df['direction'] = breadcrumb_df['direction'].replace(to_replace='',value=int(0))

In [80]:
print(breadcrumb_df.iloc[150:170])

                 tstamp   latitude    longitude direction speed    trip_id
150 2020-10-14 05:52:51   45.59448  -122.505618       312     2  170333377
151 2020-10-14 05:52:55  45.594498  -122.505648       311     0  170333377
152 2020-10-14 05:52:56    45.5945   -122.50565       325     0  170333377
153 2020-10-14 05:55:26  45.594935  -122.506015       325        170333389
154 2020-10-14 05:55:31  45.594817   -122.50576       124     4  170333389
155 2020-10-14 05:55:36  45.594687   -122.50549       125     5  170333389
156 2020-10-14 05:55:41  45.594572  -122.505228       122     4  170333389
157 2020-10-14 05:55:46  45.594465  -122.504972       121     4  170333389
158 2020-10-14 05:55:51  45.594337  -122.504687       123     5  170333389
159 2020-10-14 05:55:56    45.5942  -122.504307       117     6  170333389
160 2020-10-14 05:56:01  45.594167   -122.50414       106     2  170333389
161 2020-10-14 05:56:06  45.593915  -122.504065       168     5  170333389
162 2020-10-14 05:56:11  45.593423  -122.504068       180    11  170333389
163 2020-10-14 05:56:16  45.592925  -122.504228       193    11  170333389
164 2020-10-14 05:56:21  45.592582  -122.504832       231    12  170333389
165 2020-10-14 05:56:26  45.592602  -122.505693       272    13  170333389
166 2020-10-14 05:56:31  45.592817  -122.506627       288    15  170333389
167 2020-10-14 05:56:36  45.593053  -122.507707       287    17  170333389
168 2020-10-14 05:56:41  45.593333  -122.508937       288    20  170333389
169 2020-10-14 05:56:46  45.593673  -122.510285       290    22  170333389

In [81]:
breadcrumb_df['speed'] = breadcrumb_df['speed'].replace(to_replace='', value=float(0.0))

In [82]:
print(breadcrumb_df.iloc[150:170])

                 tstamp   latitude    longitude direction speed    trip_id
150 2020-10-14 05:52:51   45.59448  -122.505618       312     2  170333377
151 2020-10-14 05:52:55  45.594498  -122.505648       311     0  170333377
152 2020-10-14 05:52:56    45.5945   -122.50565       325     0  170333377
153 2020-10-14 05:55:26  45.594935  -122.506015       325     0  170333389
154 2020-10-14 05:55:31  45.594817   -122.50576       124     4  170333389
155 2020-10-14 05:55:36  45.594687   -122.50549       125     5  170333389
156 2020-10-14 05:55:41  45.594572  -122.505228       122     4  170333389
157 2020-10-14 05:55:46  45.594465  -122.504972       121     4  170333389
158 2020-10-14 05:55:51  45.594337  -122.504687       123     5  170333389
159 2020-10-14 05:55:56    45.5942  -122.504307       117     6  170333389
160 2020-10-14 05:56:01  45.594167   -122.50414       106     2  170333389
161 2020-10-14 05:56:06  45.593915  -122.504065       168     5  170333389
162 2020-10-14 05:56:11  45.593423  -122.504068       180    11  170333389
163 2020-10-14 05:56:16  45.592925  -122.504228       193    11  170333389
164 2020-10-14 05:56:21  45.592582  -122.504832       231    12  170333389
165 2020-10-14 05:56:26  45.592602  -122.505693       272    13  170333389
166 2020-10-14 05:56:31  45.592817  -122.506627       288    15  170333389
167 2020-10-14 05:56:36  45.593053  -122.507707       287    17  170333389
168 2020-10-14 05:56:41  45.593333  -122.508937       288    20  170333389
169 2020-10-14 05:56:46  45.593673  -122.510285       290    22  170333389

In [83]:
breadcrumb_df['latitude'] = breadcrumb_df['latitude'].replace(to_replace='', value=float(0))

In [84]:
breadcrumb_df['longitude'] = breadcrumb_df['longitude'].replace(to_replace='', value=float(0))

In [85]:
execute_batch_breadcrumb(conn=conn,df=breadcrumb_df,table='testbreadcrumb',page_size=100)

execute_batch() done

In [22]:
trip_df.shape

(1660, 3)